body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align:right;
    padding: 10px;
    margin: 0;
    clear:both;
    border-style:none;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;

}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-right: 10px;

}

.nav a:hover {
    background-color: #005f5f;
}

.nav li:hover ul{
    display:block;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.22em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    .nav li ul {
        display: none;
        position: absolute;
    }

    #bienvenue {
        text-align: center;
        margin-top: 8%;
    }

    #voir-projets {
        text-align: center;
        margin-top: 1%;
        margin-left: 47%;
        color: red;
        font-size: 20px;
    }

    #cacher-table {
        display: none;

    }
}





    #logoAston{
        width: 6%;
        height: 5%;
        margin-left: 1%;
        margin-top: -0.4%;
        float: left;

    }

    img {
        height: 150px;
        width: 200px;
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .container {
        display: block;
        width: 700px;
        height: 440px;
        margin: 30px auto;
    }
    .scene3D {
        display: block;
        float: left;
        margin: 10px;
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*perspective*/
        -webkit-perspective: 500px;
        -moz-perspective: 500px;
        -ms-perspective: 500px;
        -o-perspective: 500px;
        perspective: 500px;
    }
    .flip div {
        position: absolute;
        width: 200px;
        height: 200px;
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*backface-visibility*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .flip div:first-child {
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #333;
        /*transform*/
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    .flip div:first-child p {
        color: #FFF;
        text-shadow: 0 0 1px .111;
        padding-top: 50px;
        text-align: center;
    }
    .flip {
        width: 200px;
        height: 200px;
        /*border-radius*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*box-shadow*/
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        /*transform*/
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        /*transition*/
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        /*transform-style*/
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .scene3D:hover .flip {
        /*transform*/
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    #button-image{
        margin-left:10px;

    }

    input[type=button] {
        padding:5px;
        border:2px solid #ccc;
        -webkit-border-radius: 4px;
        border-radius: 5px;
        font-size:11px;

    }


    #image{
        width: 16%;
        height: 16%;
        margin-left :35%;
        margin-top:5%;
        margin-bottom: -6%;
    }

