<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<h1 id="bienvenue">Bienvenue sur le gestionnaire de projet en ligne !</h1>

<button id="voir-projets">Voir/cacher projets</button>

<div class="container" id="cacher-table">
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>

  </div>
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>
  </div>
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>
  </div>
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>
  </div>
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>
  </div>
  <div class="scene3D">
    <div class="flip">
      <div>

        <img src="../../assets/logoAston.png"/>
        <input id="button-image" type="button" value="Inscription"/>
        <input id="image" type="image" src="../../assets/ic_remove_red_eye_128_28747.png">

      </div>
      <div>
        <img src="../../assets/logoAston.png"/>
      </div>
    </div>
  </div>
</div>


